---
import { getCollection, getEntry, render } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import FormattedDate from "@components/FormattedDate.astro";
import OptimizedCover from "@components/OptimizedPicture.astro";
import HeroCard from "@components/HeroCard.astro";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { slug: post.id },
    props: post,
  }));
}

const post = Astro.props;
const { Content } = await render(post);

const nextPost =
  post.data.nextPost &&
  ((await getEntry("posts", post.data.nextPost as string)) as any);
---

<BaseLayout title={post.data.title} description={post.data.description}>
  <main>
    <article class="prose mx-auto dark:prose-invert">
      <div class="prose-h1 text-center">
        <h1>{post.data.title}</h1>
      </div>
      <div>
        {
          post.data.cover && (
            <OptimizedCover src={post.data.cover} alt={post.data.coverAlt} />
          )
        }
      </div>
      <div>
        <Content />
      </div>
      <div class="flex gap-2 prose-a:no-underline">
        {
          post.data.tags.map((tag) => (
            <span class="badge badge-outline badge-md">
              <a href={`/Godot-Parkour-Guides/tags/${tag}/`}>{tag}</a>
            </span>
          ))
        }
      </div>
      <div class="mt-4 flex justify-between">
        <small
          >Veröffentlicht am <FormattedDate date={post.data.pubDate} /></small
        >
      </div>
    </article>
    {
      nextPost && (
        <div class="mx-1 mt-20 md:mx-40">
          <p class="mb-5 text-center text-lg font-bold">Nächster Post:</p>
          <HeroCard post={nextPost} />
        </div>
      )
    }
  </main>
</BaseLayout>
